.container {
    min-width: 100%;
    min-height: 100%;
    padding: 30px 35px 20px 35px;
    color: #93a1a1;
    font-size: 16px;
}

.tabs {
    --bs-nav-tabs-link-active-bg: #002b36;
    --bs-nav-link-color: #93a1a1;
    --bs-nav-link-hover-color: #93a1a1;
    margin-bottom: 25px;
}

.button {
    margin-right: 10px;
}