.first-table-header {
    padding-left: 15px !important;
    border-radius: 10px 0 0 0;
}

.table-header {
    text-align: center;
}

.last-table-header {
    border-radius: 0 10px 0 0;
    text-align: center;
}

.row-title {
    max-width: 200px;
    color: #93a1a1 !important;
    --bs-table-bg: transparent;
    padding: 15px 0 !important;
    padding-left: 15px !important;
}


.truncate {
    word-break: break-all;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
}

.row-column {
    max-width: 200px;
    --bs-table-bg: transparent;
    color: #93a1a1 !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}