.container {
    background-color: var(--top-nav-background-color);
    display: flex;
    align-items: center;
    gap: 15px;

    height: var(--top-nav-height);
    padding: 0 var(--page-padding)
}

.title-container {
    display: flex;
    gap: 15px;
    cursor: pointer;

    /* touch area buffer */
    padding: 10px;
    margin: -10px;
}

.title {
    color: white;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
}

.logo {
    width: 26.23px;
    height: 30px;
    margin: auto;
}

/* mobile */
@media (max-width: calc(899.999px)) {
    .container {
        justify-content: space-between;
    }
}

/* if there's not enough space, hide the title */
@media (max-width: 250px) {
    .title {
        display: none;
    }
}