.container {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
}

@media not (pointer: coarse), (min-width: 900px)  {
    .container:hover {
        background-color: #002b36;
        cursor: pointer;
    }
}

.container:active {
    background-color: #073642;
}

.hamburger-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z'/%3E%3C/svg%3E");
    width: 30px;
    height: 30px;
}

.close-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z'/%3E%3C/svg%3E");
    width: 30px;
    height: 30px;
}

/* desktop */
@media (min-width: 900px) {
    .container {
        display: none;
    }
}