.container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-bottom: 32px;
}

.home-icon {
    flex-shrink: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2393a1a1' d='M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z'/%3E%3C/svg%3E");
    transform: translateY(-1px);
}

.separator {
    flex-shrink: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2393a1a1' d='M9.879 17.243a1 1 0 0 1-.707-1.707L12.707 12L9.172 8.464a1 1 0 0 1 1.414-1.414l4.242 4.243a1 1 0 0 1 0 1.414l-4.242 4.243a1 1 0 0 1-.707.293'/%3E%3C/svg%3E");
}

.directory:has(.home-icon) {
    line-height: 0;
}

.directory {
    border-radius: 10px;
    padding: 7px 10px;
    margin: -7px -10px;
    word-break: break-all;
    overflow-wrap: break-word;
}

@media not (pointer: coarse), (min-width: 900px)  {
    .directory:hover {
        background-color: #002b36;
        cursor: pointer;
    }
}

.directory:active {
    background-color: #073642;
}